<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lecture.type %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lecture.teacher %>
</p>

<p>
  <strong>Site:</strong>
  <%= @lecture.site %>
</p>

<p>
  <strong>Time:</strong>
  <%= @lecture.time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
